<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layouts/default :: layout(~{::title}, ~{::section})}">
<head>
    <title>Admin Home</title>
</head>
<body>
<section>
    <p>Welcome Administrator(<span sec:authentication="principal.username">Admin</span>)</p>
    <p sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></p>
</section>
<h1>This is admin home page</h1>
</body>
</html>