<!DOCTYPE html>
<html th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:replace="${title}">Layout Title</title>

    <th:block th:replace="fragments/style"></th:block>
</head>
<body>
<nav class="navbar navbar-default" th:replace="fragments/header :: header"></nav>

<div class="container" th:replace="${content}">
    <p>Layout content</p>
    <!-- <h1>Render content here!!!</h1> -->
</div>

<!--Footer-->
<footer class="page-footer" th:replace="fragments/footer"></footer>
<!--/Footer-->

<th:block th:replace="fragments/script"></th:block>

<th:block layout:fragment="myScript">

</th:block>

</body>
</html>